$light-color: lightblue;
$font-stack: Arial, Helvetica, sans-serif;
$line-height: 1.6;

*{
    box-sizing: border-box;
}

body{
    background:$light-color;
    font-family:$font-stack;
    line-height: $line-height;
}
